<mat-card>
  <mat-card-header>
    <mat-icon
      *ngIf="device.isActive"
      class="device-card__connected-state--connected"
      mat-card-avatar>radio_button_checked</mat-icon>
    <mat-icon
      *ngIf="!device.isActive"
      class="device-card__connected-state--disconnected"
      mat-card-avatar>radio_button_unchecked</mat-icon>
    <mat-card-title>{{ device.displayName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>WiFi Strength: {{ device.wifi }}</p>
  </mat-card-content>
  <mat-card-actions
    align="end">
    <button
      *ngIf="!device.isSubscribed"
      (click)="subscribeToNotification()"
      mat-button>Subscribe</button>
    <button
      *ngIf="device.isSubscribed"
      (click)="unsubscribeToNotification()"
      mat-button>Unsubscribe</button>
  </mat-card-actions>
</mat-card>