<ng-container
  *ngIf="user$ | async as user">
  <mat-toolbar
    color="primary">
    <mat-toolbar-row>
      <span>IOATT</span>
      <span class="spacer"></span>
      <span
        *ngIf="user.item">{{ user.item.displayName }}</span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="User Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-menu
    #menu="matMenu">
    <!-- not logged in -->
    <button
      *ngIf="!user.item"
      (click)="login()"
      mat-menu-item>
      <mat-icon>person_outline</mat-icon>
      <span>Login</span>
    </button>
    <!-- logged in -->
    <button
      *ngIf="user.item"
      (click)="logout()"
      mat-menu-item>
      <mat-icon>person_outline</mat-icon>
      <span>Logout</span>
    </button>
    <button
      *ngIf="user.item"
      mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
    <button
      (click)="unregisterSW()"
      mat-menu-item>
      <mat-icon>settings_backup_restore</mat-icon>
      <span>Unregister Service Worker</span>
    </button>
  </mat-menu>
</ng-container>
<router-outlet></router-outlet>